{% extends 'default.html' %} {% block content %}
<h2>{% block title %}Set New Password{% endblock title %}</h2>
<form method="post" action="{{ url_for('set_new_password') }}">
  <input
    type="password"
    name="password"
    id="new_password"
    class="form-control"
    min="8"
    placeholder="Password: at least 8 characters"
    required
  />
  <input
    type="password"
    name="conform_password"
    id="confirm_password"
    class="form-control"
    min="8"
    required
    placeholder="Confirm your password"
  />
  <input type="submit" class="btn btn-success" value="Save Password" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock content %}
